@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #F2F2F2;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.navigation {
    display: flex;
    height: 64px;
    width: 1060px;
    margin-left: 70px;
}

.logo {
    display: block;
    z-index: 1;
}

.navigation .list {
    display: flex;
    align-items: center;
    padding: 0;
}

.navigation-list {
    margin-left: 30px;
    gap: 32px;
}

.navigation-user {
    margin-left: auto;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.navigation-button {
    width: 44px;
    height: 44px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    background-color: #FFFFFF;
    border-style: none;
    margin-left: auto;
}

.navigation-item .search {
    background-image: url("../images/icons/search.svg");
}

.navigation-item .favourite {
    background-image: url("../images/icons/heart.svg");
}

.navigation-item .button {
    width: 162px;
    height: 36px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    border: 1px solid #756157;
    border-radius: 4px;
    padding: 8px 34px;
    margin-left: 20px;
    box-sizing: border-box;
}


.hero {
    background-image: url("../images/hero-back-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-color: #536873;
}

.hero::after {
    content: "";
    display: block;
    height: 57px;
    width: 100%;
    background-image: url("../images/hero-back-divider.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.hero-logo {
    margin-top: 51px;
    margin-bottom: 82px;
}

.main-index,
.footer-index,
.footer-inner {
    text-align: center;
}

.main-index,
.main-inner {
    flex-grow: 1;
}

.title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.subtitle {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-list,
.features-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.advantages-item,
.features-item {
    display: flex;
    width: 400px;
    min-height: 385px;
    align-items: center;
    justify-content: center;
}

.advantages-content,
.features-content {
    width: 230px;
}

.advantages-content .subtitle {
    margin: auto;
    width: 175px;
}

.advantages-item:nth-child(4n+1) .advantages-content {
    margin-right: 85px;
    margin-left: 85px;
}

.advantages-item:nth-child(4n+1) {
    background-color: #82B3D3;
    width: 100%;
}

.advantages-item:last-child {
    flex-direction: row-reverse;
}

.advantages-item:nth-child(4n+1),
.advantages-item:nth-child(4n+1) .advantages-description {
    color: #FFFFFF;
}

.advantages-item:nth-child(even),
.features-item:nth-child(odd) {
    background-color: #83B3D31F;
}

.advantages-item:nth-child(3) {
    background-color: #83B3D333;
}

.advantages-description,
.features-description {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.features-item {
    background-repeat: no-repeat;
    background-position: top;
    flex-direction: column;
}

.features-living {
    background-image: url("../images/icons/features-living.svg");
}

.features-food {
    background-image: url("../images/icons/features-food.svg");
}

.features-gift {
    background-image: url("../images/icons/features-gift.svg");
}

.search-hotel .link {
    line-height: 36px;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    border: 1px solid #756157;
    border-radius: 4px;
    padding: 8px 50px;
}

.index-subscribe {
    background-image: url("../images/subscribe-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    background-color: #000000;
    background-position: center;

}

.index-subscribe .text {
    color: #FFFFFF;
}

.appointment-form {
    display: flex;
    justify-content: center;
}

.appointment-form .button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
    border: 1px solid #82B3D3;
    border-radius: 4px;
    padding: 8px 50px;
    border-style: none;
}

.form-label input {
    font-size: 18px;
    line-height: 24px;
    padding: 14px 20px;
    background-color: #F2F2F2;
    border-radius: 4px;
    border-style: none;
}


.phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}

.contacts-list,
.social-list {
    display: flex;
    padding: 0;
    align-items: center;
}

.social-list {
    width: 142px;
    margin-left: 70px;
    gap: 27px;
}

.social-link svg {
    display: block;
    align-self: baseline;
}

.academy-link {
    display: block;
    height: 34px;
}

.contacts-item:nth-child(even) {
    width: 720px;
    justify-self: end;
}

.contacts-item:last-child {
    width: 115px;
    margin-left: auto;
    margin-right: 70px;
}


/* catalog */

.header-container {
    background-image: url("../images/filter-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    background-color: #000000;
    padding: 70px;
    padding-top: 35px;
}

.inner-title {
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: baseline;
}

.breadcrumbs-item:first-child {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/icons/home.svg");
}

.breadcrumbs-item:first-child::after {
    content: "";
    display: block;
    background-image: url("../images/icons/arrow.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    height: 12px;
    width: 7px;
    margin-left: 24px;
}

.breadcrumbs-link {
    display: block;
    margin-left: 29px;
}

.catalog-form {
    display: flex;
    gap: 70px;
}

.catalog-group {
    padding: 0;
    margin: 0;
    border-style: none;
}

.catalog-list {
    padding: 0;
    margin: 0;
    width: 150px;
}

.price-button {
    width: 20px;
    height: 20px;
}

.catalog-form .catalog-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
    padding: 0;
}

.control-input {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.price-filter {
    margin-left: auto
}

.fieldset-wrapper {
    width: 287px;
}

.fieldset-inputs {
    display: flex;
    justify-content: space-between;
}

.price-from,
.price-to {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    gap: 260px;
    width: 143px;
    height: 48px;
    background-color: #F2F2F2;
    border-radius: 4px 0 0 4px;
}


.catalog-buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.catalog-buttons .button {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #82B3D3;
    text-transform: uppercase;
    border: 1px solid #82B3D3;
    border-radius: 4px;
    border-style: none;
    padding: 8px 50px;
}

.catalog-buttons .button-reset {
    background-color: transparent;
}

.select-control {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    padding: 12px 20px;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
    margin-left: 200px;
    width: 292px;
    height: 49px;
}

.catalog-sorting {
    display: flex;
    margin-left: 70px;
    align-items: center;
    width: 1060px;
}

.catalog-view {
    display: flex;
    margin-left: 70px;
    gap: 8px;
}

.catalog-view .button {
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 2px solid #E5E5E5;
}

.catalog-view .button-light {
    border-color: #000000;
}

.button-cards {
    background-image: url("../images/icons/filter-tabs.svg");
}

.button-full {
    background-image: url("../images/icons/filter-full.svg");
}

.button-list {
    background-image: url("../images/icons/filter-list.svg");
}

.product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 70px;
    width: 1060px;
}

.product-card {
    width: 340px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 20px;
}

.product-title {
    text-transform: none;
}

.product-type,
.product-price {
    font-size: 18px;
}

.product-link,
.product-button,
.product-rate {
    font-family: inherit;
    width: 143px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 4px;
}

.product-link,
.product-button {
    font-weight: 700;
    color: #ffffff;
}

.product-rate {
    font-weight: 400;
    color: #333333;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    padding: 9px 22px 8px 23px;
}

.product-link {
    background-color: #756157;
    border: 1px solid #756157;
    padding: 8px 26px;
}

.product-button {
    background-color: #82B3D3;
    border: 1px solid #82B3D3;
    padding: 8px 20px;
}

.product-card .active {
    background-color: #7DB54F;
    padding: 8px 18px;
}

.product-stars {
    background-image: url("../images/icons/star.svg");
    background-repeat: repeat-x;
    height: 17px;
}

.star-4 {
    width: 72px;
}

.star-3 {
    width: 54px;
}

.star-2 {
    width: 36px;
}

.pagination {
    display: flex;
    gap: 8px;
    padding: 0;
    margin-left: 70px;
}

.pagination-item {
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    border: 1px solid #82B3D3;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
}

.pagination-item:first-child {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
}

.pagination-item:nth-child(5) {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    background-color: #FFFFFF;
    border-style: none;
}

.pagination-current {
    color: #000000;
}
